# 1. Let us say your expense for every month are listed below,
# 	1. January -  2200
#  	2. February - 2350
#     3. March - 2600
#     4. April - 2130
#     5. May - 2190
#
# Create a list to store these monthly expenses and using that find out,
#
# 1. In Feb, how many dollars you spent extra compare to January?
# 2. Find out your total expense in first quarter (first three months) of the year.
# 3. Find out if you spent exactly 2000 dollars in any month
# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
# 5. You returned an item that you bought in a month of April and
# got a refund of 200$. Make a correction to your monthly expense list
# based on this

In [13]:
exp=[2200,2350,2600,2130,2190]

In [2]:
print(exp)

[2200, 2350, 2600, 2130, 2190]

In [3]:
print("In feb this much extra was spent compared to jan:",exp[1]-exp[0])

In feb this much extra was spent compared to jan: 150

In [4]:
print("Expense for first quarter:",exp[0]+exp[1]+exp[2])

Expense for first quarter: 7150

In [8]:
print("Did I spent 2000$ in any month? ", 2000 in exp)

Did I spent 2000$ in any month?  False

In [14]:
exp.append(1980)

In [15]:
print(exp)

[2200, 2350, 2600, 2130, 2190, 1980]

In [16]:
exp[3] = exp[3] - 200
print("Expenses after 200$ return in April:",exp)

Expenses after 200$ return in April: [2200, 2350, 2600, 1930, 2190, 1980]

# 2. You have a list of your favourite marvel super heros
# heros=['spider man','thor','hulk','iron man','captain america']
# Using this list

heros=['spider man','thor','hulk','iron man','captain america']
# 1. Length of the list

# 2. Add 'black panther' at the end of this list

# 3. You realize that you need to add 'black panther' after 'hulk',

# so remove it from the list first and then add it after 'hulk'

# 4. Now you don't like thor and hulk because they get angry easily :)
#    So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
#    Do that with one line of code.

# 5. Sort the list in alphabetical order

In [34]:
heros=['spider man','thor','hulk','iron man','captain america']

In [35]:
print(len(heros))

5

In [36]:
heros.append('black panther')

In [37]:
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [38]:
heros.remove('black panther')

In [39]:
heros.insert(3,'black panther')

In [40]:
print(heros)

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [41]:
heros.insert(1,'thor')

In [42]:
heros[1:3]=['doctor strange']
print(heros)

['spider man', 'doctor strange', 'hulk', 'black panther', 'iron man', 'captain america']

In [43]:
heros.sort()

In [44]:
print(heros)

['black panther', 'captain america', 'doctor strange', 'hulk', 'iron man', 'spider man']

# Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [46]:
max = int(input("Enter max number: "))

odd_numbers = []

for i in range(1, max):
    if i % 2 == 1:
        odd_numbers.append(i)

print("Odd numbers: ", odd_numbers)

Enter max number: 22
Odd numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]